/* 1) Formulario estructurado a dos columnas */
form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form li {
  margin-bottom: 1em;
  overflow: hidden; /* asegura que los floats se contengan */
}

form label.titulo {
  float: left;
  width: 20%;
  font-weight: bold;
  margin-right: 2%;
}

form div {
  float: left;
  width: 75%;
}

form div span {
  display: inline-block;
  width: 45%;
  margin: 0 2% 0 0;
}

/* 2) Efectos hover y focus */
form li:hover {
  background-color: #FF9; /* amarillo claro */
}

form input:focus,
form select:focus {
  border: 2px solid #E6B700; /* amarillo intenso */
  outline: none;
}

/* 3) Versión a una columna (mínimo de reglas) */
form.unacolumna label.titulo,
form.unacolumna div,
form.unacolumna div span {
  float: none;
  width: 100%;
  display: block;
  margin: 0 0 0.5em 0;
}

/* 4) Mostrar mensaje de ayuda al pasar el ratón */
form p.ayuda {
  display: none;
  font-size: 0.9em;
  color: #333;
  margin: 0.5em 0 0 22%;
}

form li:hover p.ayuda {
  display: block;
}